*{
    

}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-color:background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    color: rgb(16, 16, 130);
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: cornflowerblue;
}

.name {
    background-color: rgb(23, 218, 153);
    color: rgb(16, 16, 130);
    padding: 5px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(16, 16, 130);
    width: 80px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Franklin Gothic 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
}

nav a:hover {
    background: darkolivegreen;
}

.photo {
    width: 75%;
    overflow: hidden;
}

.photo img {
    max-width: 100%;
    height: 300px;
}

.Subtitle{
    margin-top: -50px;
    color: pink;
}

#About{
    box-sizing: border-box;
    border: 2px solid black;
}

.container{
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trees img,  .unsplash img{
    width: 300px;
    height: 200px;
    margin-right: 40px;
    margin-left: 40px;

}
.ocean{
    width: fit-content;
    margin: 0px;
}

.Horiseon{
    margin-top: -30px;
    color: pink;
    font-size: large;
}

.work{
    margin-top: 40px;
}

#Contact{
    list-style: none;
    display: flex;
    color: rgb(16, 16, 130);
    display: flex;
    align-items: right;
    padding: 60px;
    background-color: cornflowerblue;
}

#Contact h2{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(16, 16, 130);
    width: 80px;
    display: block;
    padding: 25px 20px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Franklin Gothic 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

#Contact h3{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(16, 16, 130);
    width: 80px;
    display: block;
    padding: 25px 20px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Franklin Gothic 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 12px;



}
#Contact h3:hover {
    background: darkolivegreen;
}

@media only screen and (min-width: 768px) and (max-width: 991px)


@media only screen and (max-width: 767px)